@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
.contactustop {
  background: linear-gradient(
      to right,
      rgba(39, 70, 133, 0.8) 0%,
      rgba(61, 179, 197, 0.8) 100%
    ),
    url(../../assets/image/features-fondo.jpg);
  position: relative;
  width: 100%;
  height: 300px;
}

.contactustop .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  bottom: -200px;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .contactustop .wave {
    bottom: -200px;
    margin-bottom: 30px;
  }
}

.contactustop .wave svg {
  width: 100%;
}

.contactustopcontent {
  position: relative;
  top: 25%;
  text-align: center;
  align-items: center;
}

.contactustopcontent h1 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contactustopcontent p {
  color: rgb(215, 233, 250);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: initial;
}

.section {
  margin-top: 150px;
  font-family: 'Inter', sans-serif;
}

.btn {
  border: none;
  padding: 18px 30px !important;
  margin-top: 20px;
}

.btn.btn-primary {
  background: #2d71a1;
  background: linear-gradient(-45deg, #1391a5, #274685);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.418);
}

.footer {
  padding: 5px;
  margin-top: 170px;
  background-color: #2d71a1;
  font-family: 'Inter', sans-serif;
}

.footer p {
  color: rgb(215, 233, 250);
  font-size: 15px;
}

.footer h3 {
  font-size: 25px;
  margin-bottom: 30px;
  color: azure;
  font-weight: 700;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: rgb(215, 233, 250);
  text-decoration: none;
}

.footer .social a {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  line-height: 30px;
  color: black;
  background-color: rgb(100, 170, 236);
  text-align: center;
  align-items: center;
  transition: all 300ms ease;
}

.footer .social a:hover {
  color: azure;
}

.footer .copyright {
  margin-bottom: 0px;
  margin-top: 20px;
}

.footer .copyright,
.footer .credits {
  color: aliceblue;
  font-size: 14px;
}
